*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::before{
    content: '';
    position: absolute;
    background: linear-gradient(90deg, hsla(206, 91%, 66%, 1) 0%, hsla(190, 90%, 51%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(206, 91%, 66%, 1) 0%, hsla(190, 90%, 51%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(206, 91%, 66%, 1) 0%, hsla(190, 90%, 51%, 1) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: circle(10% at 42% 23%);
}
body::after{
    content: '';
    position: absolute;
    background: linear-gradient(90deg, hsla(70, 76%, 65%, 1) 0%, hsla(24, 85%, 52%, 1) 50%, hsla(344, 81%, 54%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(70, 76%, 65%, 1) 0%, hsla(24, 85%, 52%, 1) 50%, hsla(344, 81%, 54%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(70, 76%, 65%, 1) 0%, hsla(24, 85%, 52%, 1) 50%, hsla(344, 81%, 54%, 1) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: circle(10% at 58% 78%);
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, hsla(198, 61%, 20%, 1) 0%, hsla(178, 69%, 14%, 1) 100%);
}
.mcalculator{
    display: none;
}
.dcalculator{
    display: grid;
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    grid-template-columns: repeat(4, 1fr);
    z-index: 999;
    border-radius: 3px;
    overflow: hidden;
    backdrop-filter: blur(50px);
    color: white;
}
.mcalculator #display, .dcalculator #display{
    padding: 40px 10px;
    grid-column: 1/5;
    background-color: transparent;
    border: 0;
    font-family: sans-serif;
    font-size: 25px;
    text-align: right;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow-x: scroll;
}
.mcalculator #display:focus, .dcalculator #display:focus{
    outline: 0;
}
.mcalculator .button, .dcalculator .button{
    height: 60px;
    border: 0;
    background: rgba(0, 0, 0, 0.01);
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.4s;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
}
.mcalculator .equal, .dcalculator .equal{
    background: rgba(0, 70, 255, 0.9);
    color: white;
}
.mcalculator .button:hover, .dcalculator .button:hover{
    background: rgba(255, 255, 255, 0.2);
    transition: 0s;
}
.mcalculator .button:focus, .dcalculator .button:focus{
    background: rgba(0, 255, 255, 0.1);
}
.mcalculator .equal:hover, .dcalculator .equal:hover{
    background: rgba(0, 90, 200, 0.9);
}
.mcalculator .equal:focus, .dcalculator .equal:focus{
    background: rgba(0, 75, 167, 0.9);
}
@media screen and (max-width: 1000px){
    body::before{
        clip-path: circle(12% at 38% 20%);
    }
    body::after{
        clip-path: circle(12% at 60% 78%);
    }
}
@media screen and (max-width: 800px){
    body::before{
        clip-path: circle(14% at 32% 20%);
    }
    body::after{
        clip-path: circle(14% at 65% 79%);
    }
}
@media screen and (max-width: 500px){
    body::before{
        clip-path: circle(16% at 27% 20%);
    }
    body::after{
        clip-path: circle(16% at 70% 79%);
    }
    .dcalculator{
        display: none;
    }
    .mcalculator{
        display: grid;
        width: 250px;
        background: rgba(255, 255, 255, 0.1);
        grid-template-columns: repeat(4, 1fr);
        z-index: 999;
        border-radius: 3px;
        overflow: hidden;
        backdrop-filter: blur(50px);
        color: white;
    }
}
@media screen and (max-width: 350px){
    body::before{
        clip-path: circle(18% at 15% 16%);
    }
    body::after{
        clip-path: circle(18% at 84% 84%);
    }
}